annotated-types==0.7.0
anyio==4.14.1
beautifulsoup4==4.15.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.2
cloudscraper==1.2.71
cryptography==49.0.0
cssselect==1.4.0
DrissionGet==1.2.1
DrissionPage==4.1.1.4
DrissionRecord==2.0.1
et_xmlfile==2.0.0
feedparser==6.0.11
filelock==3.29.4
filetype==1.2.0
google-auth==2.55.0
google-genai==0.3.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
Js2Py_3.13==0.74.1
lxml==6.1.1
m3u8==6.0.0
openpyxl==3.1.5
pillow==11.3.0
psutil==7.2.2
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.14.0a1
pydantic_core==2.47.0
pyjsparser==2.7.1
PyOTP==2.10.0
pyparsing==3.3.2
pyTelegramBotAPI==4.25.0
python-dotenv==1.0.1
requests==2.32.3
requests-file==3.0.1
requests-toolbelt==1.0.0
sgmllib3k==1.0.0
six==1.17.0
socksio==1.0.0
soupsieve==2.8.4
tldextract==5.3.1
twifork @ git+https://github.com/PawiX25/twifork.git@1dfb33eaeee7bc4085d3d06a3528886ae74e4161
typing-inspection==0.4.2
typing_extensions==4.15.0
tzlocal==5.4.3
urllib3==2.7.0
websocket-client==1.9.0
websockets==14.2
webvtt-py==0.5.1

# TikTok Monitor module
yt-dlp==2026.06.09
curl_cffi==0.15.0
deep-translator
langdetect
